# Template for .env file for bot, read by systemd service
TELEGRAM_TOKEN='<your_telegram_token>'
TELEGRAM_CHAT_ID=<your_telegram_chat_id>

# Key only for expense report
OPENAI_ADMIN_KEY='<your_openai_admin_key>'

# Binance API with read-only permission
API_SECRET='<your_binance_api_secret>'
API_KEY='<your_binance_api_key>'